/* 왼쪽 사이드 메뉴 */
.left-side{
    width: 20%;
    border-right: 2px solid #ddd;
    display: inline-block;
}

.list-group{
    width: 100%;
    padding: 0 0 0 0;
         /*  상 우 하 좌 */
    margin: 0 0;
}

.list-group > li{
    list-style: none;
    height: 50px;
    font-size: 18px;
}

.list-group > li > a{
    text-decoration: none;
    color: black;
    height: 100%;

    display: flex;

    justify-content: center;
    align-items: center;

    border-bottom: 2px solid #ddd;
}

.list-group > li:hover{
    color: white;
    background-color: #FEC85C;
}

.list-group > p{
    height: 65px;
    font-size: 30px;
    background-color: #FEC85C;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
 
}

.left-side{
    margin-right: 10px;
}