.entire{
    width: 1000px;
    height: 500px;
    display: flex;
    border: 1px solid #ddd;
}

textarea{
    resize: none;
}


.right-side>div{
    padding: 10px 10px;
    margin: 10px 10px;
    font-size: 20px;
    
}

.right-side>div>span{
    padding-left: 20px;
}

.bottom{
    display: flex;
    justify-content: right;
}

#goToListBtn{
    background-color: white;
    border: 1px solid #FEC85C;
    border-radius: 5px;
    height: 30px;
}

#goToListBtn:hover{
    cursor: pointer;
    background-color: #FEC85C;
    color: white;
}