#entire{
    border: 1px solid #ddd;
    width: 1000px;
    height: 900px;
}

/* 내 상태 */
#myState-area{
    border: 1px solid #ddd;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 10px;
}

#myState-area > div{
    /* border: 1px solid #ddd; */
    margin: 10px;
    font-size: 20px;
}

#sec > span{
    margin-right: 20px;
}



/* 등급 안내 */
#grade-area{
    margin-left: 10px;
    margin-bottom: 50px;
}

#grade-area > h2{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

#grade-area th{
    border-bottom: 2px solid black;
    font-size: 20px;
    width: 20%;
    height: 30px;
    
}

#grade-area tr{
}

#grade-area td{
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

#grade-area>div{
    padding: 20px 10px;
}

/* 포인트 획득 조건 */
#point-area>h2{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

#point-area li{
    margin: 10px;
    font-size: 20px;
}