*{box-sizing: border-box;}

body{margin: 0;}

main{
    width: 1140px;
    margin: auto;
}


/* 마이페이지 영역 */
.adminPage-content{
    width: 1000px;
    height: 800px;
    margin: 50px auto;

    display: flex;
}

/* 왼쪽 사이드 메뉴 */

.left-side{
    width: 25%;
    border-right : 2px solid #ddd;
    /* border-right : 2px solid gray; */
}

.list-group{
    width: 100%;
    padding: 0 20px 0 0;
           /*상 우  하 좌  */
}

.list-group > li{
    list-style: none;
    height: 50px;
    font-size: 18px;
}

.list-group > li > a{
    text-decoration: none;
    color : black;
    height: 100%;

    display: flex;

    justify-content: center;
    align-items: center;

    border-bottom : 2px solid #ddd;
}

.list-group > li:hover{
    background-color: #f2f2f2;
}

.adminPage-main{
    width: 75%;
    padding: 0 50px;
}

/* 마이페이지 공통 부분 */
.adminPage-main{
    width: 75%;
    padding: 0 50px;
}

.adminPage-title{
    margin : 0 0 10px 0;
    font-size: 30px;
}

.adminPage-explanation{
    display: block;
    margin-bottom: 30px;   
    font-size: 14px;
    letter-spacing: -1px;
}

.adminPage-row{
    width: 500px;
    height: 50px;
    margin-top: 20px;

    display: flex;
    align-items: center;
    border-bottom : 2px solid #ddd;
}

.adminPage-row > *{
    font-size: 18px;
    font-weight: bold;
}

.adminPage-row > label{
    width: 30%;
    color : #FEC85C;
}

.adminPage-row > span{
    width : 70%;
}

.adminPage-row > input{
    width: 100%;
    height: 100%;
    border : 0;
    outline: 0;
    font-weight: normal;
}

.adminPage-row:focus-within{
    border-bottom: 2px solid #FEC85C;
}

form[name="adminPage-form"]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 내 정보 */
.info-title{
    color : #FEC85C;
    border : 0;
}

.info-address{ margin : 0; }

/* 검색버튼 */
#info-address-btn{
    width: 30%;
    height: 70%;

    font-size: 14px;
    font-weight: normal;

    background-color: white;
    border : 1px solid gray;
    cursor: pointer;
}

#info-update-btn {
    width: 80%;
    padding: 10px;
    margin: 50px 0;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #FEC85C;
    color: white;
    cursor: pointer;
}