.board-detail{
    width: 1000px;
    min-height: 700px;
    margin: 50px auto;
    padding: 20px;
}

.title-box{
    background-color: #eaeaea;
    border-top: 3px solid #CCC;
}

.board-write{
    width: 1000px;
    min-height: 700px;
    border:  1px solid #ccc;
    margin: 50px auto;
    padding: 20px;
}

.board-title{
    margin : 0;
    padding: 20px 0;
    border-bottom : 3px solid #ccc;
    padding-left: 20px;
}

.board-title > input{
    width: 100%;
    font-size: 18px;
    padding : 5px 0;
    border: 0;
    outline: 0;
}

.board-title:focus-within{
    border-bottom-color : rgba(32, 30, 30, 0.747);
}

#searchMap {
    display: flex;
    align-items: center;
}

#SearchMapBtn {
    width: 100px;
    height: 50px;

    font-weight: bold;
    border: 0;
    background-color: #FEC85C;
    color : white;

    cursor: pointer;
}

#SearchMapBtn:hover {

    background-color: white;
    color : #FEC85C;
    border: 2px solid #FEC85C;
    
}

textarea:hover:focus-within{
    border: rgba(204, 204, 204, 0.26);
}

.img-box{
    display: flex;
    justify-content: space-between;
}


.boardImg{
    width: 230px;
    height: 230px;
    display: inline-block;
    text-align: center;

    position : relative;
}

.boardImg > label{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #ccc;
    cursor: pointer;
}

.inputImage{ display: none; }

.preview{
    max-width: 100%;
    max-height: 100%;
}

.delete-image{
    position: absolute;
    top: 0;
    right: 7px;
    font-size: 20px;
    cursor: pointer; 
}


.thumbnail{
    width: 300px;   
    height: 300px;
}

.board-content {
    border-bottom: #CCC 2px solid;
}

.board-content > textarea{
    width: 100%;
    height: 400px;
    resize: none;
    font-size: 18px;
    border: none;
    padding: 20px;
}


.board-btn-area{
    text-align: right;
    padding-top: 30px;
    
}

.board-btn-area button{
    width: 80px;
    height: 30px;

    font-weight: bold;
    border: 0;
    background-color: #FEC85C;
    color : white;

    cursor: pointer;
}

.board-btn-area button:hover{
    background-color: white;
    color : #FEC85C;
    border: 2px solid #FEC85C;
}