.reply-container{
    padding: 10px 15px;
    border: 4px solid #fdc453d6;
    border-radius: 20px;
    margin-top: 12px;
}
.reply-title>.reply-nick{
    margin-right: 8px;
}
.reply-container>.reply-title{
    display: inline;
    margin-left: 5px;
}
.reply-container>.reply-title>.date{
    font-size: 12px;
    color: #848484;
    margin-right: 10px;
    font-family: '수성돋음체';
}

.reply-container>.goodBadBtnArea{
    display: block;
    float: right;
    margin-right: 15px;
    width: 10%;
}
.reply-container>.goodBadBtnArea>span:first-child{
    color: rgba(21, 21, 184, 0.742);
    font-family: "잘난체";
    margin-right: 20px;
}
.reply-container>.goodBadBtnArea>span:last-child{
    color: rgba(192, 6, 6, 0.748);
    font-family: "잘난체";
}
.reply-container>.comment{
    margin-top: 10px;
    padding: 10px;
    margin-left: 5px;
    border-top: 2px solid #fdc453d6;
}
.reply-container>.comment>.content{
    width: 75%;
}
.reply-container>.bottom-area{
    width: 100%;
    height: 12px;
    margin-bottom: 12px
}

.btn-area{
    float: right;
}

.btn-area>button{
    background-color: #fdc453d6;
    width: 70px;
    border: none;
    font-family: "잘난체";
    letter-spacing: -1px;
    border-radius: 12px;
    cursor: pointer;
    margin-right: 12px;
}

.ur{
    height: 150px;
}