*{
    box-sizing: border-box;
}

.reply-container{
    display: flex;
    justify-content: space-between;
    height: 120px;
    padding: 5px;
    margin: 5px;
    border-radius: 12px;
}

.reply-container *{
    display: flex;
    border-radius: 12px;
}
.reply-container div{
    justify-content: center;
    align-items: center;
}

.reply-container>div:first-child{
    display: flex;
    width: 20%;
    background-color: #fdc453d6;
}
.reply-container>div:first-child div{
    justify-content: center;
    align-items: center;
    height: 100%;
}

.reply-container>div:first-child>div:first-child{
    width: 45%;
    border-radius: 100%;
}
.reply-container>div:first-child>div:last-child{
    width: 55%;
    letter-spacing: -2px;
}
.reply-container>div:nth-child(2){
    display: flex;
    width: 68%;
    align-items: center;
    padding: 10px;
    border: 3px solid #fdc453d6;
}
.reply-container>div:nth-child(2)>p{
    padding: 8px;
    margin: 0px;
}
.reply-container>div:nth-child(2)>div{
    flex-direction: column;
    height: 100%;
    width: 25%;
    justify-content: space-between;
}
.reply-container>div:nth-child(2)>div>div:first-child{
    justify-content: space-evenly;
    width: 70%;
    height: 50%;
}
.reply-container>div:nth-child(2)>div>div:last-child{
    height: 50%;
}
.reply-container>div:nth-child(2)>div>div:last-child button{
    background-color: white;
    border: none;
}
.reply-container>div:last-child{
    flex-direction: column;
    border: 3px solid #fdc453d6;
}
.reply-container>div:last-child>div{
    height: 33%;
    font-size: 12px;
    letter-spacing: -2px;
}
.reply-container>div:last-child>div:last-child>div{
    margin: 7px;
}
.reply-container>div:last-child>div:last-child>div>a{
    text-decoration: none;
}
.reply-container>div:last-child>div:last-child>div:first-child>a{
    color: blue;
}
.reply-container>div:last-child>div:last-child>div:last-child>a{
    color: red;
}
